@import 'tailwindcss';

/* Tokens de diseño con Tailwind v4 */
@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(220 13% 14%);
  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215 16% 46.9%);
  --color-border: hsl(214 32% 91%);
  --color-input: hsl(214 32% 91%);
  --color-ring: hsl(161 94% 30%);
  /* Branding Metro Cuadrado */
  --color-primary: #17384c;
  --color-secondary: #f4b000;
  --color-tertiary: #f2f2f2;

  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;

  /* container 2xl */
  --container-2xl: 1280px;
}

/* Dark mode por clase .dark (opcional) */
.dark {
  --color-background: hsl(222 47% 5%);
  --color-foreground: hsl(210 40% 98%);
  --color-muted: hsl(217 33% 17%);
  --color-muted-foreground: hsl(215 20% 65%);
  --color-border: hsl(217 33% 17%);
  --color-input: hsl(217 33% 17%);
  --color-ring: hsl(161 94% 30%);
  --color-primary: hsl(161 94% 30%);
  --color-primary-foreground: hsl(0 0% 100%);
}

/* Base */
@layer base {
  html,
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --color-primary: #17384c;
  --color-secondary: #f4b000;
  --color-tertiary: #f2f2f2;
}
